/*background-color: rgb(216, 25, 53);*/

*{
	margin:0;
	padding:0;
}
body {
	margin-top: -310px;
}
.categories{
	overflow:hidden;
	width:90%;
	margin:0 auto;
}
.clr:after{
	content:"";
	display:block;
	clear:both;
}
.categories li{
	position:relative;
	list-style-type:none;
	width:27.85714285714286%; /* = (100-2.5) / 3.5 */
	padding-bottom: 32.16760145166612%; /* =  width /0.866 */
	float:left;
	overflow:hidden;
	visibility:hidden;

	-webkit-transform: rotate(-60deg) skewY(30deg);
	-ms-transform: rotate(-60deg) skewY(30deg);
	transform: rotate(-60deg) skewY(30deg);
}
.categories li:nth-child(3n+2){
	margin:0 1%;
}
.categories li:nth-child(6n+4){
	margin-left:0.5%;
}
.categories li:nth-child(6n+4), .categories li:nth-child(6n+5), .categories li:nth-child(6n+6) {
	margin-top: -6.9285714285%;
	margin-bottom: -6.9285714285%;

	-webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
	-ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
	transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
.categories li:nth-child(6n+4):last-child, .categories li:nth-child(6n+5):last-child, .categories li:nth-child(6n+6):last-child{
	margin-bottom:0%;
}
.categories li *{
	position:absolute;
	visibility:visible;
}
.categories li > div{
	width:100%;
	height:100%;
	text-align:center;
	color:#fff;
	overflow:hidden;

	-webkit-transform: skewY(-30deg) rotate(60deg);
	-ms-transform: skewY(-30deg) rotate(60deg);
	transform: skewY(-30deg) rotate(60deg);

	-webkit-backface-visibility:hidden;
}

/* Hexagon content */
.categories li img.cell-img {
	left:-100%; right:-100%;
	width: auto; height:100%;
	margin:0 auto;   
}
.categories li h1 div.clickable-overlay {
	height: 50px; 
	width: 50px; 
	position: absolute;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	z-index: 1000;
	color: white;
}
.categories li h1 img {
	height: 50px; 
	width: 50px; 
	position: relative; 
	margin:0 auto;   
}
.categories li p {
	width:90%;
	padding:0 5%;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	width: auto; 
	height: 100%; 
	padding-top:40%;
	padding-bottom:60%;
}
.categories div h1{ /*, .categories div p{*/
	width:90%;
	padding:0 5%;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	-webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
	-ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
	transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
.categories li h1 {
	bottom:70%;
	padding-bottom:5%;
	font-weight:normal;
	font-size:2em;
	padding-top:100%;
}
.categories li h1:after{
	content:'';
	display:block;
	position:absolute;
	bottom:-2px; left:0%;
	width:100%;
	text-align:center;
	z-index:1;
	border-bottom:4px solid #fff;
}
.categories li.hoverable h1{
	bottom:110%;
	font-style:bold;
}
.categories li.hoverable div.hovered h1 {
	bottom:70%; /* slides down from above */
	padding-bottom:5%;
}

.spinner {
	-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
@webkit-keyframes spin {
	0%   {
		-webkit-transform: rotate(0deg);  
		-ms-transform: rotate(0deg);  
		transform: rotate(0deg);  
	}
	100% {
		-webkit-transform: rotate(360deg); 
		-ms-transform: rotate(360deg); 
		transform: rotate(360deg);  
	}
}
@keyframes spin {
	0%   {
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
